#form {
    position: fixed;
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: rgba(44, 44, 44, 0.55);
    align-items: center;
    box-sizing: border-box;

}


#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#button1 {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#button2 {
    background: #9d0000;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#pageContainer{
    display: flex;
    flex-wrap: wrap;
}

.user > .status{
    margin-right: 5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
}

.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}