*{
    margin: 0;
}
#pageContainer{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

#topDisplay{
    display: flex;
    width: 100%;
    height: 100%;
}

#chatContainer{
    border-top: 0.1vh solid;
    border-right: 0.1vh solid;
    border-bottom: 0.1vh solid;
    width: 100%;
    height: 100%;
}

ul{
    padding-inline-start: 0;
    list-style-type: none;
    padding-left: 10px;
}

#messages{
    height: 100%;
    width: 100%;
    font-size: 2vw;
}

#inputArea{
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 0.5vh;
    border-top: 0.1vh solid;
}

#input{
    border-radius: 2vh 0 0 2vh;
    border-color: black;
    border-width: 0.1vh;
    border-right: 0 solid;
    width: 100%;
    padding-left: 1vw;
}

#sendButton{
    border-radius: 0 2vh 2vh 0;
    border-color: black;
    border-width: 0.1vh;
    background-color: black;
    color: white;
    padding-right: 10px;
    font-size: 2vw;
}

.user > .status{
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 0.1vh;
    margin-right: 1vh;
    margin-left: 1vh;
}

.user{
    display: flex;
    align-items: center;
    font-size: 2vw;
    padding: 0.2vh;
    border-bottom: 0.1vh solid;
}

#usersContainer{
    height: 100%;
    width: 20vw;
    border-style: solid;
    border-width: 0.1vh;
    background-color: #dedede;
}