#form {
    position: fixed;
    height: 3vh;
    display: flex;
    background: rgba(44, 44, 44, 0.55);
    align-items: center;
    box-sizing: border-box;
}


#input {

    font-size: 2vh;
    border: none;
    padding: 0 2vw;
    flex-grow: 1;
    height: 2.5vh;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#button1 {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    height: 3vh;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    font-size: 2vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#messageContainer{
    width: 100%;
}

#pageContainer{
    display: flex;

    height: 98vh;
}

.user > .status{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
}

.user{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vh;
}

#usersContainer{
    width: 20vw;
    border-style: solid;
    border-width: 0.1vh;
    background-color: #dedede;
}